@font-face{
  font-family: 'Lora-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Lora-Regular'),
    url('../fonts/Lora-Regular.woff') format('woff');
  font-display: swap;
}
@font-face{
  font-family: 'Lora-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('Lora-Medium'),
    url('../fonts/Lora-Medium.woff2') format('woff2'),
    url('../fonts/Lora-Medium.woff') format('woff');
  font-display: swap;
}
@font-face{
  font-family: 'Lora-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: local('Lora-SemiBold'),
    url('../fonts/Lora-SemiBold.woff2') format('woff2'),
    url('../fonts/Lora-SemiBold.woff') format('woff');
  font-display: swap;
}
@font-face{
  font-family: 'Lora-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('Lora-Bold'),
    url('../fonts/Lora-Bold.woff2') format('woff2'),
    url('../fonts/Lora-Bold.woff') format('woff');
  font-display: swap;
}