%lora-400{
  font-family: 'Lora-Regular', sans-serif;
  font-weight: 400;
}
%lora-500{
  font-family: 'Lora-Medium', sans-serif;
  font-weight: 500;
}
%lora-600{
  font-family: 'Lora-SemiBold', sans-serif;
  font-weight: 500;
}
%lora-700{
  font-family: 'Lora-Bold', sans-serif;
  font-weight: 500;
}